# Customer Behaivor Prediction (2) - Monthly Spending

## Overview
In 1998, the Adventure Works Cycles company collected a large volume of data about their existing customers, including demographic features and information about purchases they have made. The company is particularly interested in analyzing customer data to determine any apparent relationships between demographic features known about the customers and the likelihood of a customer purchasing a bike. Additionally, the analysis should endeavor to determine whether a customer's average monthly spend with the company can be predicted from known customer characteristics.

## Goal
The goal is to build a regression model to predict customers' monthly spending.

## Data
The training and test datasets are retrieved from [Microsoft Learning](https://github.com/MicrosoftLearning).

## Model
We are adopting a simple linear regression model to predict customers' monthly spending. Evaluated with cross-validation on the training data, the simple model gives an R^2 of **0.9464**.

## Import the libraries

In [8]:
import pandas as pd
import numpy as np
import numpy.random as nr
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm
import seaborn as sns
import matplotlib.pyplot as plt
import math
import scipy.stats as ss
from sklearn.model_selection import KFold, cross_val_score

## Load the data

In [2]:
# LOAD DATA
custs = pd.read_csv('D:\\Users\\user\\Desktop\\MPP DS Cert\\DAT275x - Principles of Machine Learning Python Edition\\AdvWorksCusts.csv')
avgms = pd.read_csv('D:\\Users\\user\\Desktop\\MPP DS Cert\\DAT275x - Principles of Machine Learning Python Edition\\AW_AveMonthSpend.csv')
bikeby = pd.read_csv('D:\\Users\\user\\Desktop\\MPP DS Cert\\DAT275x - Principles of Machine Learning Python Edition\\AW_BikeBuyer.csv')
AW_test = pd.read_csv('D:\\Users\\user\\Desktop\\MPP DS Cert\\DAT275x - Principles of Machine Learning Python Edition\\AW_test.csv')

## Drop duplicates

In [3]:
#DROP DUPLICATES
custs = custs.drop_duplicates(keep = 'last')
avgms = avgms.drop_duplicates(keep = 'last')
bikeby = bikeby.drop_duplicates(keep = 'last')

In [4]:
#MERGE CSVS
custs = pd.merge(custs, avgms, on='CustomerID')
custs = pd.merge(custs, bikeby, on='CustomerID')
# print(custs.info())

In [6]:
custs.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'AveMonthSpend', 'BikeBuyer'],
      dtype='object')

## Feature engineering

In [9]:
#CREATE AGE
custs['Today'] = pd.Timestamp("1998-01-01")
custs['BirthDate'] = pd.to_datetime(custs['BirthDate'])
custs['Age'] = custs['Today'] - custs['BirthDate']
custs['Age'] = custs['Age']/np.timedelta64(1,'Y')
custs['Age'] = custs['Age'].round()

#CREATE AGE for test data
AW_test['Today'] = pd.Timestamp("1998-01-01")
AW_test['BirthDate'] = pd.to_datetime(AW_test['BirthDate'])
AW_test['Age'] = AW_test['Today'] - AW_test['BirthDate']
AW_test['Age'] = AW_test['Age']/np.timedelta64(1,'Y')
AW_test['Age'] = AW_test['Age'].round()

print(custs['Age'])

0        32.0
1        33.0
2        32.0
3        30.0
4        29.0
5        32.0
6        32.0
7        34.0
8        33.0
9        34.0
10       34.0
11       34.0
12       30.0
13       29.0
14       30.0
15       19.0
16       19.0
17       20.0
18       19.0
19       19.0
20       19.0
21       52.0
22       52.0
23       51.0
24       52.0
25       50.0
26       51.0
27       50.0
28       51.0
29       50.0
         ...
16441    20.0
16442    21.0
16443    54.0
16444    36.0
16445    37.0
16446    37.0
16447    37.0
16448    38.0
16449    38.0
16450    38.0
16451    38.0
16452    38.0
16453    39.0
16454    38.0
16455    39.0
16456    39.0
16457    37.0
16458    38.0
16459    39.0
16460    41.0
16461    42.0
16462    43.0
16463    46.0
16464    50.0
16465    41.0
16466    33.0
16467    62.0
16468    58.0
16469    51.0
16470    53.0
Name: Age, Length: 16471, dtype: float64

In [10]:
#DROP COLUMNS
custs.drop('Title', axis = 1, inplace = True)
custs.drop('MiddleName', axis = 1, inplace = True)
custs.drop('Suffix', axis = 1, inplace = True)
custs.drop('AddressLine2', axis = 1, inplace = True)

print(custs.shape)
print(custs.head)

#CHECK FOR CLASS IMBALANCE
bb_counts = custs[['CustomerID', 'BikeBuyer']].groupby('BikeBuyer').count()

(16471, 23)
<bound method NDFrame.head of        CustomerID   FirstName    LastName                 AddressLine1  \
0           11000         Jon        Yang              3761 N. 14th St
1           11001      Eugene       Huang                   2243 W St.
2           11002       Ruben      Torres             5844 Linden Land
3           11003     Christy         Zhu             1825 Village Pl.
4           11004   Elizabeth     Johnson          7553 Harness Circle
5           11005       Julio        Ruiz          7305 Humphrey Drive
6           11006       Janet     Alvarez                2612 Berry Dr
7           11007       Marco       Mehta             942 Brook Street
8           11008         Rob     Verhoff             624 Peabody Road
9           11009     Shannon     Carlson          3839 Northgate Road
10          11010   Jacquelyn      Suarez          7800 Corrinne Court
11          11011      Curtis          Lu                 1224 Shoenic
12          11012      Lauren      Walker            4785 Scott Street
13          11013         Ian     Jenkins             7902 Hudson Ave.
14          11014      Sydney     Bennett              9011 Tank Drive
15          11015       Chloe       Young         244 Willow Pass Road
16          11016       Wyatt        Hill          9666 Northridge Ct.
17          11019        Luke         Lal              7832 Landing Dr
18          11020      Jordan        King                7156 Rose Dr.
19          11023        Seth     Edwards            4499 Valley Crest
20          11024     Russell         Xie            8734 Oxford Place
21          11025   Alejandro        Beck    2596 Franklin Canyon Road
22          11026      Harold         Sai               8211 Leeds Ct.
23          11027      Jessie        Zhao           213 Valencia Place
24          11028        Jill     Jimenez            9111 Rose Ann Ave
25          11031     Theresa       Ramos            6465 Detroit Ave.
26          11032      Denise       Stone           626 Bentley Street
27          11033       Jaime        Nath              5927 Rainbow Dr
28          11034       Ebony    Gonzalez            5167 Condor Place
29          11035       Wendy   Dominguez          1873 Mt. Whitney Dr
...           ...         ...         ...                          ...
16441       29464      Eugene         Gao         4581 Coldwater Drive
16442       29465         Roy        Gill      4072 South Hampton Road
16443       29466       Lance     Jimenez           Auf Der Steige 532
16444       29467      Monica       Mehta             Bundesallee 2461
16445       29468  Jacqueline      Morris          6934 Santa Cruz Dr.
16446       29469   Dominique    Saunders            3792 Westwood Ct.
16447       29470      Nathan     Roberts  29, boulevard Beau Marchais
16448       29471        Dana      Ortega        80, rue de Fontfroide
16449       29472       Lacey      Sharma            21, avenue Reille
16450       29473      Carmen      Subram             6467 Buena Vista
16451       29474       Jaime        Raje         Potsdamer Straße 646
16452       29475       Jared        Ward                Erftplatz 876
16453       29476   Elizabeth     Bradley                 Nonnendamm 2
16454       29477        Neil        Ruiz                P.O. Box 9178
16455       29478      Darren     Carlson             5240 Premier Pl.
16456       29479       Tommy        Tang            111, rue Maillard
16457       29480        Nina        Raji            9 Katherine Drive
16458       29481        Ivan        Suri                  Knaackstr 4
16459       29482     Clayton       Zhang       1080, quai de Grenelle
16460       25352     Brandon    Martinez         843 Camino Verde Cr.
16461       13139      Carmen       Perez       1622 Silver Oaks Place
16462       18651      Isaiah    Mitchell            5014 Steele Drive
16463       24992       Faith      Bryant  6267 Morello Heights Circle
16464       11442      Joseph      Harris       8, rue des Vendangeurs
16465       18487       Tasha        Nath             4992 Yorba Linda
16466       13121     Latasha     Jimenez               7259 Birchwood
16467       26100       James  Ptaszynski              7345 Kenwal Rd.
16468       11328      Julian     Griffin          7398 Withersed Lane
16469       23077      Marvin   Hernandez               1019 Book Road
16470       18982        Kyle       Baker              2118 Little Dr.

                     City    StateProvinceName CountryRegionName PostalCode  \
0             Rockhampton           Queensland         Australia       4700
1                 Seaford             Victoria         Australia       3198
2                  Hobart             Tasmania         Australia       7001
3              North Ryde      New South Wales         Australia       2113
4              Wollongong      New South Wales         Australia       2500
5           East Brisbane           Queensland         Australia       4169
6              Matraville      New South Wales         Australia       2036
7             Warrnambool             Victoria         Australia       3280
8                 Bendigo             Victoria         Australia       3550
9              Hervey Bay           Queensland         Australia       4655
10          East Brisbane           Queensland         Australia       4169
11          East Brisbane           Queensland         Australia       4169
12              Bremerton           Washington     United States      98312
13                Lebanon               Oregon     United States      97355
14                Redmond           Washington     United States      98052
15                Burbank           California     United States      91502
16         Imperial Beach           California     United States      91932
17                Langley     British Columbia            Canada    V3A 4R2
18              Metchosin     British Columbia            Canada         V9
19             Bellflower           California     United States      90706
20                Concord           California     United States      94519
21              Hawthorne           Queensland         Australia       4171
22               Goulburn      New South Wales         Australia       2580
23            Warrnambool             Victoria         Australia       3280
24           St. Leonards      New South Wales         Australia       2065
25             Matraville      New South Wales         Australia       2036
26              Melbourne             Victoria         Australia       3000
27          Milsons Point      New South Wales         Australia       2061
28           North Sydney      New South Wales         Australia       2055
29             Cranbourne             Victoria         Australia       3977
...                   ...                  ...               ...        ...
16441         Rockhampton           Queensland         Australia       4700
16442          Matraville      New South Wales         Australia       2036
16443            Solingen  Nordrhein-Westfalen           Germany      42651
16444     Sulzbach Taunus             Saarland           Germany      66272
16445          Cheltenham              England    United Kingdom       GL50
16446                Oxon              England    United Kingdom   OX16 8RS
16447              Drancy    Seine Saint Denis            France      93700
16448           Dunkerque                 Nord            France      59140
16449               Paris        Seine (Paris)            France      75003
16450              Oxford              England    United Kingdom        OX1
16451         Saarbrücken             Saarland           Germany      66001
16452             Hamburg              Hamburg           Germany      20354
16453             Hamburg              Hamburg           Germany      20354
16454              London              England    United Kingdom    W10 6BL
16455      Stoke-on-Trent              England    United Kingdom       AS23
16456          Versailles              Yveline            France      78000
16457              London              England    United Kingdom   SW19 3RU
16458                 Hof               Bayern           Germany      95010
16459          Saint Ouen    Charente-Maritime            France      17490
16460         Lake Oswego               Oregon     United States      97034
16461           Lane Cove      New South Wales         Australia       1597
16462            Lynnwood           Washington     United States      98036
16463         Chula Vista           California     United States      91910
16464  Tremblay-en-France    Seine Saint Denis            France      93290
16465             Sunbury             Victoria         Australia       3429
16466              Melton             Victoria         Australia       3337
16467             Shawnee     British Columbia            Canada    V8Z 4N5
16468              Newton     British Columbia            Canada     V2L3W8
16469              Rhodes      New South Wales         Australia       2138
16470            Kirkland           Washington     United States      98033

               PhoneNumber  BirthDate  ... MaritalStatus HomeOwnerFlag  \
0      1 (11) 500 555-0162 1966-04-08  ...             M             1
1      1 (11) 500 555-0110 1965-05-14  ...             S             0
2      1 (11) 500 555-0184 1965-08-12  ...             M             1
3      1 (11) 500 555-0162 1968-02-15  ...             S             0
4      1 (11) 500 555-0131 1968-08-08  ...             S             1
5      1 (11) 500 555-0151 1965-08-05  ...             S             1
6      1 (11) 500 555-0184 1965-12-06  ...             S             1
7      1 (11) 500 555-0126 1964-05-09  ...             M             1
8      1 (11) 500 555-0164 1964-07-07  ...             S             1
9      1 (11) 500 555-0110 1964-04-01  ...             S             0
10     1 (11) 500 555-0169 1964-02-06  ...             S             0
11     1 (11) 500 555-0117 1963-11-04  ...             M             1
12            717-555-0164 1968-01-18  ...             M             1
13            817-555-0185 1968-08-06  ...             M             1
14            431-555-0156 1968-05-09  ...             S             0
15            208-555-0142 1979-02-27  ...             S             0
16            135-555-0171 1979-04-28  ...             M             1
17            262-555-0112 1978-03-07  ...             S             0
18            550-555-0163 1978-09-20  ...             S             0
19            452-555-0188 1978-10-11  ...             M             1
20            746-555-0186 1978-09-17  ...             M             1
21     1 (11) 500 555-0178 1945-12-23  ...             M             1
22     1 (11) 500 555-0131 1946-04-03  ...             S             0
23     1 (11) 500 555-0184 1946-12-07  ...             M             1
24     1 (11) 500 555-0116 1946-04-11  ...             M             1
25     1 (11) 500 555-0195 1947-08-22  ...             M             1
26     1 (11) 500 555-0169 1947-06-11  ...             M             1
27     1 (11) 500 555-0137 1947-09-23  ...             M             1
28     1 (11) 500 555-0136 1947-06-19  ...             M             1
29     1 (11) 500 555-0177 1948-02-24  ...             M             1
...                    ...        ...  ...           ...           ...
16441  1 (11) 500 555-0177 1977-09-05  ...             S             0
16442  1 (11) 500 555-0110 1977-06-19  ...             S             1
16443  1 (11) 500 555-0126 1943-11-26  ...             M             1
16444  1 (11) 500 555-0121 1961-10-16  ...             M             1
16445  1 (11) 500 555-0131 1961-06-27  ...             M             0
16446  1 (11) 500 555-0172 1961-04-26  ...             M             0
16447  1 (11) 500 555-0111 1960-08-25  ...             S             0
16448  1 (11) 500 555-0148 1960-03-26  ...             S             0
16449  1 (11) 500 555-0178 1960-03-14  ...             M             0
16450  1 (11) 500 555-0129 1960-05-22  ...             S             0
16451  1 (11) 500 555-0174 1959-10-04  ...             M             0
16452  1 (11) 500 555-0135 1959-09-23  ...             S             0
16453  1 (11) 500 555-0177 1959-07-03  ...             M             0
16454  1 (11) 500 555-0114 1959-07-06  ...             M             0
16455  1 (11) 500 555-0132 1959-05-25  ...             S             1
16456  1 (11) 500 555-0136 1958-07-04  ...             M             1
16457  1 (11) 500 555-0146 1960-11-10  ...             S             1
16458  1 (11) 500 555-0144 1960-01-05  ...             S             0
16459  1 (11) 500 555-0137 1959-03-05  ...             M             1
16460         327-555-0193 1957-02-14  ...             M             0
16461  1 (11) 500 555-0195 1956-02-09  ...             S             0
16462         694-555-0195 1955-05-06  ...             M             0
16463         154-555-0170 1952-03-12  ...             M             1
16464  1 (11) 500 555-0116 1947-11-14  ...             M             1
16465  1 (11) 500 555-0159 1956-10-10  ...             S             0
16466  1 (11) 500 555-0118 1965-03-22  ...             M             1
16467         127-555-0194 1936-04-02  ...             S             1
16468         636-555-0197 1940-01-01  ...             M             1
16469  1 (11) 500 555-0112 1946-10-20  ...             M             1
16470         685-555-0144 1945-04-07  ...             S             1

      NumberCarsOwned NumberChildrenAtHome  TotalChildren  YearlyIncome  \
0                   0                    0              2        137947
1                   1                    3              3        101141
2                   1                    3              3         91945
3                   1                    0              0         86688
4                   4                    5              5         92771
5                   1                    0              0        103199
6                   1                    0              0         84756
7                   2                    3              3        109759
8                   3                    4              4         88005
9                   1                    0              0        106399
10                  1                    0              0         81294
11                  4                    4              4         94029
12                  2                    0              2         99245
13                  3                    0              2        115859
14                  3                    0              3        105157
15                  1                    0              0         40011
16                  1                    0              0         46808
17                  2                    0              0         49455
18                  2                    0              0         43857
19                  1                    0              0         50046
20                  2                    0              0         91276
21                  2                    1              2         24334
22                  2                    0              2         61905
23                  2                    0              2         49349
24                  2                    0              2         44068
25                  2                    0              4         18843
26                  2                    0              4         15861
27                  2                    0              4         35822
28                  2                    0              4         29017
29                  2                    1              2         11721
...               ...                  ...            ...           ...
16441               0                    1              1         12002
16442               0                    0              0         22109
16443               0                    0              1         59132
16444               0                    0              4         75167
16445               0                    0              4         62297
16446               0                    0              3         65669
16447               1                    1              1         28464
16448               1                    1              1         28506
16449               1                    1              1         11848
16450               0                    1              1         20048
16451               1                    0              2         24761
16452               1                    0              2         29938
16453               1                    0              2         18670
16454               1                    0              2         22992
16455               0                    0              3         45986
16456               0                    0              1         80049
16457               0                    0              3         60417
16458               0                    0              3         66653
16459               0                    0              3         59736
16460               2                    1              2         18570
16461               1                    0              1         59605
16462               2                    0              1         55291
16463               2                    1              2         86140
16464               2                    0              5        103335
16465               2                    0              2         72037
16466               4                    5              5        101542
16467               2                    0              3         46549
16468               2                    0              5        133053
16469               2                    0              4         31930
16470               2                    0              4         59382

       AveMonthSpend  BikeBuyer      Today   Age
0                 89          0 1998-01-01  32.0
1                117          1 1998-01-01  33.0
2                123          0 1998-01-01  32.0
3                 50          0 1998-01-01  30.0
4                 95          1 1998-01-01  29.0
5                 78          1 1998-01-01  32.0
6                 54          1 1998-01-01  32.0
7                130          1 1998-01-01  34.0
8                 85          1 1998-01-01  33.0
9                 74          0 1998-01-01  34.0
10                49          0 1998-01-01  34.0
11               146          1 1998-01-01  34.0
12                55          1 1998-01-01  30.0
13                84          0 1998-01-01  29.0
14                49          0 1998-01-01  30.0
15                39          0 1998-01-01  19.0
16                68          0 1998-01-01  19.0
17                64          1 1998-01-01  20.0
18                64          0 1998-01-01  19.0
19                71          0 1998-01-01  19.0
20                77          0 1998-01-01  19.0
21                70          0 1998-01-01  52.0
22                63          0 1998-01-01  52.0
23                76          0 1998-01-01  51.0
24                43          0 1998-01-01  52.0
25                43          0 1998-01-01  50.0
26                42          0 1998-01-01  51.0
27                58          0 1998-01-01  50.0
28                39          0 1998-01-01  51.0
29                50          0 1998-01-01  50.0
...              ...        ...        ...   ...
16441             67          0 1998-01-01  20.0
16442             64          0 1998-01-01  21.0
16443             64          0 1998-01-01  54.0
16444             57          0 1998-01-01  36.0
16445             53          0 1998-01-01  37.0
16446             56          0 1998-01-01  37.0
16447             69          1 1998-01-01  37.0
16448             49          0 1998-01-01  38.0

## Define our label

In [11]:
#create label
labels = np.array(custs['AveMonthSpend'])

## One-hot encode categorical features

In [12]:
#Create feature array
def encode_string(cat_features):
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag']

Features = encode_string(custs['CountryRegionName'])
for col in categorical_columns:
    temp = encode_string(custs[col])
    Features = np.concatenate([Features, temp], axis = 1)


print(Features.shape)
print(Features[:2, :])
print(custs['CountryRegionName'].unique())

(16471, 22)
[[1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0.]]
['Australia' 'United States' 'Canada' 'Germany' 'United Kingdom' 'France']

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

Let's merge the encoded categorical features with numeric features

In [13]:
#Concatenate with numeric features
Features = np.concatenate([Features, np.array(custs[
                                                  ['NumberCarsOwned', 'NumberChildrenAtHome',
                                                      'TotalChildren', 'YearlyIncome', 'Age']
                                              ])], axis = 1)
# print(Features.shape)
# print(Features[:2, :])

#Create feature array for AW_Test and concatenate numeric features
AW_test_Features = encode_string(AW_test['CountryRegionName'])
for col in categorical_columns:
    temp = encode_string(AW_test[col])
    AW_test_Features = np.concatenate([AW_test_Features, temp], axis = 1)

AW_test_Features = np.concatenate([AW_test_Features, np.array(AW_test[
                                                  ['NumberCarsOwned', 'NumberChildrenAtHome',
                                                      'TotalChildren', 'YearlyIncome', 'Age']
                                              ])], axis = 1)

print(AW_test_Features[:2,:])
print(AW_test_Features.shape)

[[0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00
  1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00
  0.00000e+00 1.00000e+00 1.00000e+00 0.00000e+00 2.00000e+00 0.00000e+00
  5.00000e+00 8.69310e+04 5.30000e+01]
 [0.00000e+00 1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  1.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00 1.00000e+00
  1.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 2.00000e+00 2.00000e+00
  4.00000e+00 1.00125e+05 3.30000e+01]]
(500, 27)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

## Create training and test sets

In [14]:
#Split the data
nr.seed(8585)
indx = range(Features.shape[0])
indx = ms.train_test_split(indx, test_size = 500)
X_train = Features[indx[0],:]
y_train = np.ravel(labels[indx[0]])
X_test = AW_test_Features
#y_test = np.ravel(labels[indx[1]]) #no y_test

## Scale the data

In [15]:
#Scale the data
scaler = preprocessing.StandardScaler().fit(X_train[:,22:])
X_train[:,22:] = scaler.transform(X_train[:,22:])
X_test[:,22:] = scaler.transform(X_test[:,22:])
# print(X_train[:2,])

## Create the model

In [16]:
#Construct the linear regression model
lin_mod = linear_model.LinearRegression()
lin_mod.fit(X_train, y_train)
print(lin_mod.intercept_)
print(lin_mod.coef_)
y_score = lin_mod.predict(X_test)
print(y_score[:3])

-76950206890290.66
[-5.88934922e+11 -5.88934922e+11 -5.88934922e+11 -5.88934922e+11
 -5.88934922e+11 -5.88934922e+11  3.80570350e+13  3.80570350e+13
  3.80570350e+13  3.80570350e+13  3.80570350e+13  3.61794583e+13
  3.61794583e+13  3.61794583e+13  3.61794583e+13  3.61794583e+13
 -1.94736266e+12 -1.94736266e+12  1.55723440e+12  1.55723440e+12
  3.69277676e+12  3.69277676e+12 -4.20776367e-01  1.62786560e+01
  6.30022049e-01  8.61718750e+00 -1.49377441e+00]
[ 42.71875 107.       48.71875]

## Evaluate the model

In [26]:
# Setup cross validation folds
kf = KFold(n_splits=10, random_state=42, shuffle=True)

In [27]:
def cv_r2(model, X=X_train):
    r2 = cross_val_score(model, X_train, y_train, scoring="r2", cv=kf)
    return (r2)

In [28]:
scores = {}
score = cv_r2(lin_mod)
print("lin_mod: {:.4f} ({:.4f})".format(score.mean(), score.std()))
scores['lin_mod'] = (score.mean(), score.std())

lin_mod: 0.9464 (0.0021)

## Create the submission file

In [ ]:
# # Export result as csv file
# pd.DataFrame(y_score).to_csv("regression_test_result.csv")